<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script>
        function validateCounts() {
            const timeSlots = {{ time_slots_data | tojson }};
            let lastNonZeroCount = 0;

            for (const slot of timeSlots) {
                const slotName = slot.slot_name;
                const countField = document.getElementById(`voting_count_${slotName}`);
                if (countField) {
                    const countValue = parseInt(countField.value) || 0;

                    if (countValue !== 0 && countValue < lastNonZeroCount) {
                        alert(`Number of Votes must be greater than or equal to number of Voter entered in previous time slot`);
                        countField.focus();
                        return false;
                    }

                    if (countValue > 0) {
                        lastNonZeroCount = countValue;
                    }
                }
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <h4>PRO Dashboard</h4>
         </div>

    
    <form method="POST" onsubmit="return validateCounts();">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Time Slot</th>
                    <th>Voting Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for slot in time_slots_data %}
                <tr>
                    <td>{{ slot.slot_name }}</td>
                    <td>
                        <input type="number" id="voting_count_{{ slot.slot_name }}" 
                               name="voting_count_{{ slot.slot_name }}" 
                               class="form-control form-control-sm"
                               value="{{ turnout_data[slot.slot_name] | default('') }}" required
                               {% if not editable_slots[slot.slot_name] %}disabled{% endif %}>
                    </td>
                    <td>
                        <button type="submit" name="time_slot" value="{{ slot.slot_name }}" class="btn btn-primary btn-sm"
                                {% if not editable_slots[slot.slot_name] %}disabled{% endif %}>
                            Update
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>


</body>
</html>
