<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>

</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mt-3">
        <h4>SO Dashboard<h4>
    </div>

    <div class="table-container mt-3">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>PS No</th>
                    <th>PS Name</th>
                    {% for slot in time_slots %}
                    <th>{{ slot.slot_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for ps in polling_stations %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ps['ps_no'] }}</td>
                    <td class="wrap-text">{{ ps['NAME'] }}</td>
                    {% for slot in time_slots %}
                    <td>
                        <span>{{ ps.get(slot.slot_name, 0) }}</span>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><strong>Grand Total</strong></td>
                    {% for slot in time_slots %}
                    <td>{{ grand_totals[slot.slot_name] }}</td>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>

</body>
</html>